[Desktop Entry]
Type=Application
Name=MA-TUI
Comment=Music Assistant controller and local speaker
Exec=ma-tui
Icon=ma-tui
Terminal=true
Categories=AudioVideo;Audio;Player;
Keywords=Music;Assistant;Sendspin;
