[Desktop Entry]
Type=Application
Name=MA-TUI
GenericName=Music Assistant Player
Comment=Control Music Assistant and play music on this computer
Exec=ma-tui
Icon=ma-tui
Terminal=true
Categories=AudioVideo;Audio;Player;
Keywords=Music;Music Assistant;Sendspin;
